<footer class="footer d-flex align-center justify-content-center fixed-bottom">
  <div><a href="#"><i class="fab fa-twitter"></i></a></div>
  <div><a href="#"><i class="fab fa-instagram"></i></a></div>
  <div><a href="#"><i class="fab fa-facebook"></i></i></a></div>
  <div><a href="#"><i class="fa fa-envelope rotate"></i></a></div>
</footer>

