<div class="navbar-logged-in">
 <%= image_tag('logo-simple.png', class: "logo") %>
 <div id="navbar-end">
  <div id="button">
    <a href="#" class="button-green">add plant</a>
  </div>
   <%= image_tag('julia-avatar.png', class: "avatar") %>
 </div>
</div>
