<header>
  <div class="navbar-logged-in">
   <%= image_tag('logo-simple.png', class: "logo") %>
   <div id="navbar-end">
    <div id="button">
      <%= link_to 'add plant', new_plant_path, class: "button-green" %>
    </div>
     <%= image_tag('julia-avatar.png', class: "avatar") %>
   </div>
  </div>
</header>
