<header>
  <div class="navbar-logged-in">
    <%= link_to root_path do %>
      <%= image_tag('logo-simple.png', class: "logo") %>
    <% end %>
   <div id="navbar-end">
    <div id="button">
      <%= link_to 'add plant', new_plant_path, class: "button-green" %>
    </div>
     <%= image_tag('julia-avatar.png', class: "avatar") %>
   </div>
  </div>
</header>
