// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #EBF7F7;
$yellow: #FEF9E2;
$orange: #E67E22;
$green: #EEF5E8;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #FFF0F0;
$dark-gray: #6D6D6D;
$beige: #FEFDF8;
$hover-blue: #DEEFEF;
$hover-yellow: #F8F1D6;
$hover-green: #E1EADA;
$hover-pink: #F6E9E9;
