.profile {
  background-color: $pink;
  padding: 40px;
  border-radius: 25px;

  h2 {
    font-size: 3em;
  }
}

.booked {
  background-color: $blue;
  padding: 40px;
  border-radius: 25px;

  h2 {
    font-size: 3em;
  }
}

.my-plants {
  background-color: $green;
  padding: 40px;
  border-radius: 25px;

  h2 {
    font-size: 3em;
  }
}

