<div class="navbar-logged-out">
  <img src="logo-simple.png" alt="logo">
</div>

<div class="container mt-5">
  <h1 class="mb-3">Components</h1>

  <a href="#" class="button-yellow">yellow</a>
  <a href="#" class="button-green">green</a>
  <a href="#" class="button-blue">blue</a>
  <a href="#" class="button-pink">pink</a>

</div>

