<div class="navbar-logged-out">
 <%= image_tag('logo-simple.png', class: "logo") %>
 <div id="login">
   <a href="#" class="button-green">login</a>
 </div>

</div>
<div class="m-3">
  spacer
</div>

<div class="navbar-logged-in">
 <%= image_tag('logo-simple.png', class: "logo") %>
 <div id="navbar-end">
  <div id="button">
    <a href="#" class="button-green">add plant</a>
  </div>
  <%= image_tag('julia-avatar.png', class: "avatar") %>
</div>
</div>


<div id="banner-main" class="mt-5">
  <div id="content">
    <%= image_tag('logo-big.png', class: "mb-4") %>
    <p class="mb-4">Rent a plant or share your plants with other renters</p>
    <div class="search__container">

     <input class="search__input" type="text" placeholder="find a plant">
   </div>
  </div>

 </div>

<div class="container mt-5">
  <h1 class="mb-3">Components</h1>

  <a href="#" class="button-yellow">yellow</a>
  <a href="#" class="button-green">green</a>
  <a href="#" class="button-blue">blue</a>
  <a href="#" class="button-pink">pink</a>

  <div class="mt-5 mb-5">
   <!-- partial:index.partial.html -->
   <div class="search__container">

     <input class="search__input" type="text" placeholder="find a plant">
   </div>
 </div>

</div>

<div id="footer">
  <p>Made at Le Wagon</p>
</div>
