<header>
  <%= render 'components/navbar_logout' %>
</header>
<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY=pk.eyJ1IjoibHVpem1hdGhldXMiLCJhIjoiY2tmN2Y2ZGJiMDFzMjJ0bm82YXozazJkbSJ9.YRZWHizb86NwF1ULQwEFxw'] %>">
<%= render 'components/footer-pinned' %>
</div>
