.banner-main {
  height: 80vh;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #content {
    text-align: center;
  }

  #subtitle {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    color: $dark-gray;
  }
}

.banner-small {
  height: 15vh;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .content {
    text-align: center;
  }

  .subtitle {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $dark-gray;
  }
}


.green {
  background-color: $green;
}

#banner-change {
  height: 50vh;
}
