.card-plant {
  width: 320px;
  background-color: white;
  font-family: Montserrat;
  color: $dark-gray;
  border: 0.5px solid rgba(109, 109, 109, 0.5);
  box-sizing: border-box;
  padding: 20px 20px 7px;

  .img {
    width: 277px;
    height: 240px;
    background-color: $dark-gray;
    background-size: cover;
    background-position: center;
  }

  .card-plant-footer {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .spacer {
      height: 55px;
    }

    h3 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 3px;
      line-height: 1;
      margin-block-start: 0em;
    }

    h4 {
      text-align: right;
      font-size: 18px;
      font-weight: 400;
    }

    p {
      font-style: italic;
      font-size: 14px;
      font-weight: 200;
      margin-top: 3px;
    }
  }
}
