.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logged-out {
  position: relative;
  width: 1440px;
  height: 75px;
  background: #FFFFFF;

  img {
    position: absolute;
    width: 94px;
    height: 48px;
    left: 25px;
    top: 13px;
  }
}
